/*--- à n'utiliser qu'en complément de tyles.css ------------*/

.table-glo {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: beige;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
.table-glo th, .table-glo td {
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
}
.table-glo td a {
  color: black;
  text-decoration: none;
}
.table-laps {
  width: fit-content;
  background-color: beige;
}
.table-laps td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Fixer l'en-tête */
.table-glo th {
  position: sticky;
  top: 0;
  background-color: #e6e6e6; /* même couleur que dans le HTML */
  z-index: 10;
}
.table-glo thead tr {
  background-color: #e6e6e6;
}
/* Optionnel : mettre la première colonne en gras */
.table-glo td:first-child,
.table-glo th:first-child {
  font-weight: bold;
}
.t1 {
   table-layout: fixed;
}

